.signup-container {
  width: 50%;
}
.signup-container label {
  /* Other styling... */
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}
.signup-container input {
  height: 10%;
  width: 50%;
  float: right;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.signup-container .form-group {
  margin-top: 15px;
}

.signup-form button {
  margin-top: 15px;
  width: 15%;
  text-align: center;
  clear: both;
  float: right;
}
